//variables
$silver: #c7c7c7;

$black: #292929;

//mixin
@mixin margin($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.navbar {
  background-color: $black;
}
#link {
  color: white;
}
#link:hover {
  color: #0065ad;
}
.jumbotron {
  background-color: $silver;
  @include margin(50px, 20px);
}
footer {
  background-color: $silver;
}
