//variables
@background: #e3e3e3;

//mixin
.margin (@top, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

body {
  background-color: @background;
}
.information {
  .margin(70px, 0px);
}
