.navbar {
  background-color: #292929; }

#link {
  color: white; }

#link:hover {
  color: #0065ad; }

.jumbotron {
  background-color: #c7c7c7;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  background-color: #c7c7c7; }
